/*11111*/ .block1 {color: red;}
.block2 {color: red; font-size: 30px;}

/*2*/ .lll h2 {color:rgb(41, 78, 66);}

/*3*/ #qqq p {color:blueviolet;}

/*4*/ #www h2 {color:aqua;}

/*5*/ .bbb {color:brown;}

/*6*/ #bot .eee {color:blue;}

/*7*/ p.uuu {color: #a8319e;}

/*8*/ h2.ggg {font-size: 30px;}

/*9*/ #bl {font-size: 50px;}
